<template>
  <div class="listItem">
    <div class="itemName">{{this.name}}</div>
    <div class="itemDate">{{this.startTime}}</div>
    <div class="itemDate">{{this.endTime}}</div>
    <div class="itemVenue">{{this.venue}}</div>
    <div class="itemOrganizer">{{this.organizer}}</div>
    <a class=itemLink :href="this.url">{{this.url}}</a></div>
</template>

<script>
import ListItem from './ListItem.vue'

/* var basicDataModel = {
  name: String,
  date: String,
  venue: String,
  url: String
} */

export default {
  name: 'ListItem',
  props: {
    name: String,
    startTime: String,
    endTime: String,
    venue: String,
    organizer: String,
    url: String
  },
  data: function () {
    return {
    }
  },
  // Fetch data from the api
  // TODO: Might be better in a method if this should be able to be updated
  mounted () {

  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
a {
  color: #42b983;
}

.listItem {
  width: 100%;
  padding: 15px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-width: 2px;
  border-color: black;

  div, a {
    text-align: left;
  }

  .itemName {
    width: 20%;
  }

  .itemDate {
    width: 15%;
  }

  .itemOrganizer {
    width: 10%;
  }

  .itemVenue {
    width: 20%;
  }

  .itemLink {
    width: 20%;
  }
}
</style>
