<template>
  <div v-if="this.list === null">
    An error occurred... Shieeeeeeet.
  </div>
  <div v-else-if="this.list.length > 0" class="meetuplist">
      <div v-for="item in list" :key="$uuid.v1()">
        <ListItem
        :name="item.name"
        :startTime="item.startTime"
        :endTime="item.endTime"
        :venue="item.venue.name + ', ' + item.venue.address + ', ' + item.venue.city"
        :organizer="item.organizer"
        :url="item.eventUrl"/>
      </div>
    <!-- <div>UUID Test: {{$uuid.v1()}}</div> -->
  </div>
  <div v-else>No events found. Shame...</div>
</template>

<script>
import ListItem from './ListItem.vue'
import axios from 'axios'

/* var basicDataModel = {
  name: String,
  date: String,
  venue: String,
  url: String
} */

export default {
  name: 'MeetupList',
  components: {
    ListItem
  },
  props: {
    msg: String,
    kack: String
  },
  data: function () {
    return {
      list: null,
      v1: this.$uuid.v1()
    }
  },
  // Fetch data from the api
  // TODO: Might be better in a method if this should be able to be updated
  mounted () {

    var temp = this

    axios
      // .get('/api/events?location=tampere')
      .get('https://e5e61u3lji.execute-api.eu-north-1.amazonaws.com/dev/events?location=tampere')
      .then(function (response) {
        console.log(response);
        if (response.data.success !== true) {
          console.log('API returned failure for some reason. Go figure... O.o ', response.data.message)
          temp.list = null
          return
        }
        console.log("Onnistu!")
        temp.list = temp.parseData(response.data.events)
      })
      .catch(function (err) {
        console.log('Request to fetch event data crashed and burned. MAYDAY!', err)
        temp.list = null
      })
    //      this.list = this.parseData();
  },
  methods: {
    parseData: function (data) {
      // TODO: Parrse data itself and not preset data
      console.log("parsitaan...", data)

      var dataArray = data //JSON.parse({data: data})
      /*
      var dataArray = []

      dataArray.push({ name:"The Future of Work", startTime:"2019-04-04T14:00:00.000Z",endTime:"2019-04-04T16:00:00.000Z",eventUrl:"https://www.eventbrite.com/e/the-future-of-work-tickets-57582861890?aff=ebapi", venue:{name:"Y-kampus Kauppi",address:"3 Kuntokatu",city:"Tampere"},organizer:"Y-Kampus"})

      /* dataArray.push({ name: 'Hagaton', date: '9.3.2019', venue: 'Pikku Palatsi', url: 'http://www.gorofe.com' })
      dataArray.push({ name: 'Joku kiva tapahtuma', date: '99.32.2052', venue: 'Pormestari', url: 'http://www.google.com' })
      dataArray.push({ name: 'Arveluttavaa toimintaa', date: '6.6.666', venue: 'Tuonela', url: 'http://www.apina.biz' }) */
      console.log('Data loaded: ', dataArray)
      return dataArray
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.meetuplist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px 0 25px;
}
</style>
