<template>
  <div id="app" class="bodyclass">
    <img alt="G logo" src="./assets/g-logo.svg">
    <MeetupList msg="Jottae paskoo" kack="Lissää sontoo"/>
  </div>
</template>

<script>
import MeetupList from './components/MeetupList.vue'

export default {
  name: 'app',
  components: {
    MeetupList
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

img {
  height: 20%;
  width: 20%;
}

.bodyclass {/*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; */
}
</style>
